body{


}
.card-game-type{
  min-height: 683px !important;
}
.card-game-img{
  object-fit: cover;
  height: 20vw;
}
.card-img-detail{
  display: block;
  margin: auto;
  object-fit: cover;
  width: 65vw;
}

/*.login_input{
  max-width: 800px;
}*/
