<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
        {% block page_title %}
        Base
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="\static\css\font-awesome.css">
    <link rel="stylesheet" href="/static/index.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>


  </head>
  <body>

    {% block page_content %}
    base
    {% endblock %}

    <footer>  <div class="info row">
        <div class="card bg-dark  col-4">
          <div class="card-title  ">
            <h1 class="info1 text-primary"> Developer </h1>
          </div>
          <div class="card-body">
            <h5 class="font-italic text-white"> Programmer : </h5>
            <a href="https://www.facebook.com/ta.quangminh.3" target="_blank">Tạ Quang Minh</a>
            <br>
            <a href="https://www.facebook.com/nghia.ngongan.912"target="_blank">Trần Đại Nghĩa</a>
            <h5 class="font-italic text-white"> Designer : </h5>
            <a href="https://www.facebook.com/nam.pt.16"target="_blank">Phan Thái Nam</a>
            <h5 class="font-italic text-white">Tester : </h5>
            <a href="https://www.facebook.com/paint.my.life.over.and.over?sk=wall"target="_blank">Đặng Nguyễn Phương Trang</a>


          </div>
        </div>
        <div class="card bg-dark col-4">
          <div class="card-title ">
            <h1 class="info1 text-muted">Contact</h1>
          </div>
          <div class="card-body">
            <h5 class="font-italic text-white" > Phone Number: </h5>
            <p class="text-white">0913478978</p>
            <h5 class="font-italic text-white" >Email: </h5>
            <p class="text-white">Phanthainam1092002@gmail.com</p>
          </div>


        </div>
        <div class="card bg-dark  col-4">
          <div class="card-title  ">
            <h1 class="text-warning info1">FAQ</h1>
          </div>


        </div>

      </div></footer>
  </body>
</html>
